<h1>Getting Started with Ruby</h1>

<p>
  Welcome!
</p>

<pre>
<%= Cowsay.say("Hello") %>
</pre>

<%= image_tag("test.png", size: "400x600", alt: "test static assets") %>

<%= image_tag("test.png", size: "400x600", alt: "test static assets") %>

<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World #<%= i %>!</p>
<% end %>
